@import '../mix-ins';

.image {
  position: relative;
  flex-basis: 50%;
  height: fit-content;
  padding: 10px;
  background-color: #444;
  max-width: 400px;
  margin-right: 50px;
  border-radius: 10px;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--activeTextColor);
    opacity: 0.5;
    border-radius: 10px;
    z-index: -1;
    top: -30px;
    left: -30px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: var(--activeTextColor);
    opacity: 0.5;
    border-radius: 10px;
    z-index: -1;
    bottom: -30px;
    right: -30px;
  }

  @include tablet {
    margin: 0 1rem;
    &::before,
    &::after {
      display: none;
    }
  }

  @include mobile {
    margin: 0 1rem;
  }

  img {
    width: 100%;
  }

  &__movable-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      width: 200%;
      height: 100px;
      background-color: var(--activeTextColor);
      z-index: -1;
      animation: profile-image-border 8s linear infinite;
    }

    @keyframes profile-image-border {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
