@import '../mix-ins';

#about {
  background-color: #141414;
  width: 100%;
  position: relative;
  height: auto;
  padding: 10rem 0;
}

.image-block {
  min-width: 20rem;
  margin-left: 5rem;
  align-self: center;

  @include tablet {
    margin-left: 0;
    min-width: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 4rem 0;
  margin: 0 1rem;
  flex-basis: 50%;
  //gap: 2rem;

  .about-me {
    //width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
      padding: 2rem 0;
      line-height: 2;
    }

    &__info {
      padding: 2rem 0;
      word-break: break-word;
      width: inherit;
      line-height: 2;

      ul {
        list-style: none;
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-between;

        @include tablet {
          justify-content: center;
        }

        li {
          display: flex;
          margin: 1rem 0;
          flex-basis: calc(50% - 20px);

          span {
            display: block;
            min-width: 5rem;
            color: var(--activeTextColor);
          }

          @media (max-width: 991px) {
            flex-basis: 100%;
          }
        }
      }
    }

    &__cv {
      display: flex;
      justify-content: flex-start;

      &__btn {
        border-radius: 2rem;
        color: var(--activeTextColor);
        text-decoration: none;
        box-shadow: inset 0px 0px 0px 2px var(--activeTextColor);
        padding: 1rem 1rem;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: 0.3s ease-in;
        align-items: center;

        p {
          padding: 0 0.4rem;
        }

        &:hover {
          color: #fff;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--activeTextColor);
          z-index: -1;
          transition: 0.3s ease-in;
        }

        &:hover:before {
          width: 100%;
        }
      }
    }

    @include tablet {
      width: 100%;
      padding: 0 3rem;
      align-items: center;
    }
  }

  @include tablet {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}
