@import '../mix-ins';

#home {
  background-color: #141414;
  width: 100%;
  height: 100vh;
  margin-top: -120px;
  padding: 6rem 0;

  @include mobile {
    padding: 0;
    margin-top: 0;
  }

  .typewriter {
    width: auto;
    height: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    .intro {
      font-size: 20px;
      position: relative;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background-color: var(--activeTextColor);
        border-radius: 50%;
        opacity: 0.5;
        z-index: -1;
      }

      @include mobile {
        font-size: 15px;
      }
    }

    .name {
      font-size: 35px;

      span {
        color: #cb532e;
      }

      @include mobile {
        font-size: 25px;
      }
    }

    h1 {
      display: flex;
      flex-direction: row;
      font-weight: 700;
      font-size: 65px;
      margin: 1rem 0;
      flex-wrap: wrap;

      p {
        margin-right: 1rem;

        @include tablet {
          margin-right: 0.5rem;
        }
      }

      @include tablet {
        font-size: 35px;
      }

      @include mobile {
        font-size: 25px;
      }
    }

    p {
      margin-bottom: 1rem;
    }

    .social-icons {
      z-index: 1;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;

      a {
        width: 40px;
        height: 40px;
        border: 2px solid var(--activeTextColor);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--activeTextColor);

        &:hover {
          background-color: var(--activeTextColor);
          color: #fff;
        }
      }

      @include tablet {
        justify-content: center;
      }

      // @include mobile {
      //   padding: 0 2.4rem;
      //   justify-content: center;
      // }
    }

    @include tablet {
      align-items: center;
      margin-top: 10rem;
    }

    @include mobile {
      padding: 0 2rem;
    }
  }
}
