#resume {
  background-color: #000000;
  width: 100%;
  position: relative;
  height: auto;
  padding: 8rem 0;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: fit-content;
    margin: 4rem 0.5rem;
    overflow: hidden;
  }
}
