@import '../mix-ins';

#resume {
  width: 100%;
  position: relative;
  height: auto;
  padding: 5rem 0;

  @include tablet {
    padding: 5rem 2rem;
  }

  .content {
    height: fit-content;
    overflow: hidden;
  }
}
