@import '../mix-ins';

#skills {
  background-color: #000000;
  width: 100%;
  position: relative;
  height: auto;
  padding: 8rem 0;

  .skills-box {
    flex: 0 0 auto;
    width: auto;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
