@import '../styles/mix-ins';

footer {
  height: auto;
  width: 100%;
  background-color: #141414;
  position: relative;
  padding: 2rem 0;
  color: white;

  .info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 2rem;
    text-transform: capitalize;

    @include mobile {
      padding: 0.5rem;
      gap: 0.5rem;
      text-align: center;
    }
  }
}
