@import '../styles/mix-ins';

footer {
  height: auto;
  width: 100%;
  background-color: var(--glass-bg);
  position: relative;
  padding: 2rem 0;
  color: var(--glass-text-color);

  .info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 2rem;
    text-transform: capitalize;

    @include mobile {
      gap: 0.5rem;
      text-align: center;
    }
  }
}
