.btn {
  display: flex;
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;

  &--primary {
    background: var(--primary-gradient);
    color: var(--glass-text-color);
    border: none;
  }

  &--secondary {
    background: var(--glass-bg);
    backdrop-filter: blur(20px);
    border: 1px solid var(--glass-border);
    color: var(--glass-text-color);
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  }
}
